/* Loader css */
.loading {
  padding: 15px 30px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: #ffffff4f;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.loading:hover {
  cursor: pointer;
}

.container-q {
  width: 600px;
  height: 400px;
  color: #fff;
  background-color: #ffffff24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
}

/* ? question container  */

.container {
  width: 600px;
  height: 450px;
  color: #fff;
  background-color: #ffffff24;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
}

.questions-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.question {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 23px;
}

.btn-st {
  padding: 10px 40px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.308);
  border: 1px solid #00bfff;
  color: #fff;
}

.btn-st:hover {
  background-color: #ffffff24;
  cursor: pointer;
}

/* ? question  */

.quest {
  font-size: 25px;
  text-wrap: nowrap;
}

.opt-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn-opt {
  width: 400px;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff24;
  border: none;
  color: #fff;
  font-size: 15px;
}

.btn-opt:hover {
  cursor: pointer;
}

.answer {
  margin-left: 30px;
}

.correct {
  background-color: #00bfff;
  color: black;
}

.wrong {
  background-color: #ffa400;
  color: black;
}

.correct:hover,
.wrong:hover {
  cursor: not-allowed;
}
/* ? progress bar */
.progress {
  margin-top: 10px;
  width: 500px;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.pg-bar {
  width: 100%;
  height: 40px;
}

.result {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: space-evenly;
}

/* ? footer container */
.foot-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 220px;
}

.foot-c > button {
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #ffffff24;
  border: none;
  color: #fff;
}

.foot-c > button:hover {
  cursor: pointer;
}

/* ? quiz finished */
.quiz-fh {
  padding: 30px 100px;
  border-radius: 40px;
  background-color: #00bfff;
  border: none;
  color: black;
  font-weight: bold;
}

.reset-btn {
  width: 100px;
  height: 40px;
  padding: 10px 30px;
  border-radius: 30px;
}

.finish-reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.reset-btn:hover {
  cursor: pointer;
}
